<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--***********************************************************-->
    <!--Begin standard configuration.  This section provides the core functionality of IISLogs, this will allow for 
			entire directory structures or specific directories to have their log files be monitored.&nbsp; Through 
			configuration they can be compressed (ZIPPED) and/or deleted based on an hour-based configuration settings.&nbsp; 
			The allows for certain aged files to be compressed and after a longer timeframe be deleted.&nbsp; 
			One or both of these options can be used together or separate, the individual has complete control over this.
			MonitoredEntireDirectories uses a recursive formula when files contain .log and .zip files it'll be monitoried.  
			MonitoriedSpecificDirectories reads the metabase and keeps a pointer directly to the file that the website reads too.
			-->
    <add key="MonitoredEntireDirectories" value="" />
    <add key="MonitoredSpecificDirectories" value="" />
    <add key="AutoAddMonitoredSpecificDirectories" value="False" />
    <add key="AutoAddMonitoredSpecificDirectories_w3svc" value="False" />
    <add key="AutoAddMonitoredSpecificDirectories_msftpsvc" value="False" />
    <add key="AutoAddMonitoredSpecificDirectories_smtpsvc" value="False" />
    <!--24 hours = 1 days, 168 hours = 1 week, 336 hours = 2 weeks, 3 weeks = 504 hours, 672 hours = 4 weeks
			This setting needs to be at least one hour LESS than the DeleteRetentionPeriod Configurationsettings-->
    <add key="ZipFile" value="False" />
    <add key="ZipRetentionPeriod" value="0" />
    <!--The Delete Agreement is something that has to be agreed, typed or signed and dated when first configuring IISLogs to run.  
			To configure this, open IISLogsGUI and agree to the delete file policy, this will create a deleteagreement.txt file in the 
			IISLogs directory.  IISLogs checks for existance for this file before Deleting any files related to ZIP or delete options.-->
    <add key="FileCompressionPolicyAgreementSigned" value="False" />
    <add key="TurnOffFileCompressionPolicyAgreementSigned" value="False" />
    <!--These setting is for ZIP feature, the DeleteOriginalFile Option will delete the original log file after being ZIPPED
			We strongly recommend you run IISLogs with DeleteOriginalFile left to False until you have verified the ZIPPED file can be un-zipped, the logfile
			extracted and verified it's ok.  
			-->
    <add key="DeleteOriginalFile" value="False" />
    <!--The Delete Agreement is something that has to be agreed, typed or signed and dated when first configuring IISLogs to run.  
			To configure this, open IISLogsGUI and agree to the delete file policy, this will create a deleteagreement.txt file in the 
			IISLogs directory.  IISLogs checks for existance for this file before Deleting any files related to ZIP or delete options.
		-->
    <add key="DeletePolicyAgreementSigned" value="False" />
    <add key="TurnOffDeletePolicyAgreementSigned" value="False" />
    <!--This setting needs to be at least one hour MORE than the ZipRetentionPeriod Configurationsettings
			OR Make the setting Zero to disabled.	
					
			**PLEASE READ : Careful consideration should be done to insure your not deleting files that shorter than your 
			companies file retention period settings. When in doubt, verify with the correct individuals to insure
			this setting is correct, IISLogs assumes NO responsibility for files deleted and later required for any proceedings
			including legal ones. When in doubt, TURN THIS FEATURE OFF**.-->
    <add key="DeleteFile" value="False" />
    <add key="DeleteRetentionPeriod" value="0" />
    <!--This is an advanced setting to determine where to store zip files
			Three Options:
			1. local (stores files in directory where log files are stored *This is the Default*
			
			2. Another directory on local disk (I.E. D:\zippedFiles\ \ such as c:\myLogFiles\Logs\)
			Note this setting needs to be formatted with trailing \ such as c:\myLogFiles\Logs\"
			
			3. UNC path \\Server\Share\ZipFileDirectory- this is stored on a network server
			Note this setting needs to be formatted with trailing \ such as \\ServerName\Share\Dir\"-->
    <add key="ZipFilePath" value="local" />
    <add key="MonitorZipFilePath" value="False" />
    <!--Add Server Name And LogFilePath used when not storing files locally in same directory-->
    <add key="PreserveDirPath" value="True" />
    <!--Note this setting needs to be formatted with trailing slash \ such as C:\Program Files\IISLogsEXE\Logs\"-->
    <add key="LogDirectoryPath" value="" />
    <add key="DeleteLogFileName" value="deleteLogging" />
    <add key="DetailLogFileName" value="detailLogging" />
    <add key="ErrorLogFileName" value="errorLogging" />
    <add key="SummaryLogFileName" value="summaryLogging" />
    <add key="DetailFileLogging" value="True" />
    <add key="SummaryFileLogging" value="True" />
    <add key="Delimiter" value="!" />
    <add key="ConsoleWriteLineToScreen" value="True" />
    <!--This is measured in time exact <add key="ServiceInterval" value="00:01:00, 06:00:00, 12:00:00 ,18:00:00 " />-->
    <!--The default is 3 AM, however if your going to add more than one time to run the IISLogs process, put it in the format above -->
    <!--Needs to be in HH:MM:SS PM or HH:MM:SS AM, there needs to be space in the time-->
    <add key="ServiceInterval" value="03:00:00" />
    <add key="ServiceName" value="IISLogs4" />
    <!--This has four options, None, Low, Med, High-->
    <add key="CompressionLevel" value="High" />
    <!--Process XML files True or False-->
    <add key="ProcessXML" value="False" />
    <!--Process TXT files True or False-->
    <add key="ProcessTXT" value="False" />
    <!--Process Dat files True or False-->
    <add key="ProcessDAT" value="False" />
    <!--Process BAK files True or False-->
    <add key="ProcessBAK" value="False" />
    <!--End standard configuration -->
    <!--***********************************************************-->
    <!--***********************************************************-->
    <!--Begin SMTP configuration
			This feature ONLY will allow for monitoring the SMTP directories, normally under C:\Inetpub\Mailroot directory
			This is a separate feature from IISLOGS and won't zip files, ONLY will DELETE files
			ONLY files with extensions of .BAD,.BDR,.BDP will be allowed to be deleted in these directories
			
			**PLEASE READ : Careful consideration should be done to insure your not deleting files that shorter than your 
			companies file retention period settings. When in doubt, verify with the correct individuals to insure
			this setting is correct, IISLogs assumes NO responsibility for files deleted and later required for any proceedings
			including legal ones. When in doubt, TURN THIS FEATURE OFF**.-->
    <add key="ProcessSmtpSVCDirectories" value="False" />
    <add key="SmtpSVCDirectories" value="" />
    <add key="SmtpDeleteRetentionPeriod" value="0" />
    <!--End SMTP configuration -->
    <!--***********************************************************-->
    <!--***********************************************************-->
    <!--Begin Delete Only Directory configuration			
			This is a separate feature from IISLOGS, ONLY will DELETE files.
			This is feature to have the ability have some directories that 
			are configured to zip and delete and others to have the option to JUST delete
			after a separate configurable delete parameter, just put a comma deleted list of 
			directories to have their log files deleted separate from 
			IISLogs core functionality I.E.(C:\LogfileDir1,C:\LogfileDir2,C:\LogfileDir3) NO SPACES. 
			
			**PLEASE READ : Careful consideration should be done to insure your not deleting files that shorter than your 
			companies file retention period settings. When in doubt, verify with the correct individuals to insure
			this setting is correct, IISLogs assumes NO responsibility for files deleted and later required for any proceedings
			including legal ones. When in doubt, TURN THIS FEATURE OFF**.-->
    <add key="ProcessDelOnlySpecificDirectories" value="False" />
    <add key="DelOnlySpecificDirectories" value="" />
    <add key="DelOnlySpecificRetentionPeriod" value="0" />
    <!--This key determines which file attribute will determine the Delete Date of the file
			by default IISLogs keys off the LastWriteDate file attribute to determine how old a file is.  
			IISLogs can also parse the default IISLogs filename exYYMMDD.log (it'll parse out YYMMDD
			and subtract against DelOnlyRetentionPeriod key, if the file age whatever attribute is used
			will delete the file or not.  The two values that need to be here are "LastWriteTime" (default) and 
			FileName (this is case sensative)-->
    <add key="DelOnlySpecificAttribute" value="LastWriteTime" />
    <!--End Delete Only Directory configuration -->
    <!--***********************************************************-->
    <!--***********************************************************-->
    <!--Begin Log Header Information
			The section handlers what will be displayed at the top of the summary, normal and error log files"
			Don't change these settings, they are needed for log files to be properly formatted-->
    <add key="LogHeaderLine1" value="#Software: IISLogs Log Component" />
    <add key="LogHeaderLine2" value="#Version: 1.0" />
    <add key="LogHeaderLine3" value="#Date:" />
    <add key="DeleteLogFileNameFields" value="LogPrimaryKey!dateTime!directoryName!numberOfFileDeleted!TimeStarted!TimeFinished!ComputerName" />
    <add key="DetailLogFileNameFields" value="LogPrimaryKey!dateTime!directoryName!totalBytesInDirectory!fileName!creationTime!extension!fullName!lastWriteTime!length!fileStatus!ComputerName" />
    <add key="ErrorLogFileNameFields" value="LogPrimaryKey!dateTime!functionName!errMessage!errSource!errStackTrace!ComputerName" />
    <add key="SummaryLogFileNameFields" value="LogPrimaryKey!dateTime!directoryName!TotalNumberFiles!TotalNumberFilesChanged!SizeBeforeProcessing!SizeAfterProcesing!TimeStarted!TimeFinished!ComputerName" />
    <!--This setting determines how long before log files turnover-->
    <add key="FileLoggingAge" value="5" />
    <add key="purgeArchiveLogsAge" value="7" />
    <!--End Log Header Information-->
    <!--***********************************************************-->
    <!--***********************************************************-->
    <!--Begin Zip Per Directory Only Directory configuration
		This is a separate feature from IISLOGS, it will ZIP and/or DELETE files with the Directory Path and Files.
		This is meant to handle specific directories and they.
						
		**PLEASE READ : Careful consideration should be done to insure your not deleting files that shorter than your 
		companies file retention period settings. When in doubt, verify with the correct individuals to insure
		this setting is correct, IISLogs assumes NO responsibility for files deleted and later required for any proceedings
		including legal ones. When in doubt, TURN THIS FEATURE OFF**.
		-->
    <!--This has to be formatted such as this DirName,TimeFrame -->
    <add key="ZipPerDirectoryXMLFile" value="IISLogsPerDirectory.xml" />
    <add key="ZipPerDirectoryEnable" value="False" />
    <!--End Zip Per Directory Only Directory configuration -->
    <!--***********************************************************-->
    <!--***********************************************************-->
    <!--Begin Email Only Directory configuration-->
    <!--If you want to receive a daily email report, chose YES otherwise say NO. 
			**PLEASE READ : Careful consideration should be done to insure your servers are NOT 
			configured to be exploited by mass-mailers**.-->
    <add key="SendMailReport" value="False" />
    <add key="From" value="yourID@ChangeThisIISLogs.com" />
    <add key="To" value="yourID@ChangeThisIISLogs.com" />
    <add key="mailServer" value="localhost" />
    <add key="mailPort" value="25" />
    <add key="mailSubject" value="IISLog Report" />
    <add key="mailUID" value="c2VjdXJlSURAQ2hhbmdlVGhpc0lJU0xvZ3MuY29t" />
    <add key="mailPWD" value="Q0hBTkdFVEhJUw==" />
    <add key="EnableMailAuth" value="False" />
    <!--End Email Only Directory configuration-->
    <!--***********************************************************-->
    <!--***********************************************************-->
    <!--Begin EVENTLOG configuration -->
    <!--This writes an informational message to the local computers Application eventlog-->
    <add key="UseEventLog" value="True" />
    <!--End EVENTLOG configuration entries-->
    <!--***********************************************************-->
    <!--Begin Naming convention by preference-->
    <add key="Naming" value="Default" />
    <!--ZipFile Storage Preference
        Daily = 1
        Weekly = 2
        Monthly = 3
    -->
    <add key="LogsDWM" value="1" />
    <!--End Naming convention by preference-->
    <!--***********************************************************-->
    <!--Begin Metabase Role Service option*************************-->
    <!-- This option was added to allow IISLogs to use Microsoft.Web.Administration API 
         instead of requiring IIS 6 Compatability Metabase Role Service be installed on W2k8 and greater.  
         IISLogsEXE, SVC will use metabase when OS is Windows 2000/2003 -->
    <add key="UseMetabaseRoleService" value="True" />
    <!--End Metabase Role Service option***************************-->
    <!--***********************************************************-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>